In [6]:
import pandas as pd
import numpy as np
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn import cross_validation, metrics   #Additional scklearn functions
from sklearn.grid_search import GridSearchCV   #Perforing grid search

import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4
import nltk
#from fuzzywuzzy import fuzz
import re
import pandas as pd
import numpy as np
import scipy.sparse as sp
from scipy.sparse.linalg import svds
import pickle
from sklearn.ensemble import GradientBoostingClassifier

In [7]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
train['data'] = 'train'
test['data'] = 'test'
test['rating'] = 5
combi = pd.concat([train,test])

In [8]:
combi.head()

          ID   data  itemId  rating  userId
0  16041_129  train     129     0.5   16041
1   16041_25  train      25     0.5   16041
2   16041_28  train      28     5.5   16041
3  16041_101  train     101     0.5   16041
4   16041_47  train      47     1.5   16041

In [11]:
users = np.unique(combi['userId'])
businesses = np.unique(combi['itemId'])

In [12]:
 
number_of_rows = len(users)
number_of_columns = len(businesses)

In [14]:
business_indices, user_indices = {}, {}
 
for i in range(len(businesses)):
    business_indices[businesses[i]] = i
    
for i in range(len(users)):
    user_indices[users[i]] = i

In [15]:
V = sp.lil_matrix((number_of_rows, number_of_columns))

In [25]:
for line in combi.values:
    a,b,i, r , u = map(str,line)
    V[user_indices[u], businesses_indices[i]] = r

KeyError: '16041'

In [22]:
combi[:].head()

          ID   data  itemId  rating  userId
0  16041_129  train     129     0.5   16041
1   16041_25  train      25     0.5   16041
2   16041_28  train      28     5.5   16041
3  16041_101  train     101     0.5   16041
4   16041_47  train      47     1.5   16041