In [1]:
import pandas as pd
import numpy as np
import nltk
import re
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import cross_validation,metrics
from sklearn.grid_search import GridSearchCV
import matplotlib.pylab as plt
%matplotlib inline
from fuzzywuzzy import fuzz
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12,4

In [2]:
def modelfit(alg,dtrain,dtest,predictiors, performCV = True, printFeatureImportance=True, cv_folds = 5):
    alg.fit(dtrain[predictors],dtrain['Is_Shortlisted'])
    dtrain_predictions = alg.predict(dtrain[predictors])
    dtrain_predprob = alg.predict_proba(dtrain[predictors])[:,1]
    if performCV:
        cv_score = cross_validation.cross_val_score(alg,dtrain[predictors],dtrain['Is_Shortlisted'], cv = cv_folds, scoring = 'roc_auc')
        print "CV Score : Mean - %.7g | Std - %.7g | Min - %.7g | Max - %.7g"%(np.mean(cv_score),np.std(cv_score),np.min(cv_score),
                                                                        np.max(cv_score))
    print "Accuracy - %.4g" % metrics.accuracy_score(dtrain['Is_Shortlisted'],dtrain_predictions)
    print "AUC Score - %f" % metrics.roc_auc_score(dtrain['Is_Shortlisted'],dtrain_predprob)
    
    if printFeatureImportance:
        feat_imp = pd.Series(alg.feature_importances_,predictors).sort_values(ascending=False)
        feat_imp.plot(kind = 'bar', title = 'Feature Importance')
        plt.ylabel('Feature Importance Score')

In [3]:
data = pd.read_csv("C:/Users/user/Documents/data7.csv")
internship = pd.read_csv("C:/Users/user/Documents/Internship7.csv")
student = pd.read_csv("C:/Users/user/Documents/Student7.csv")
student_exp = pd.read_csv("C:/Users/user/Documents/Student_Exp7.csv")
data.drop('Unnamed: 0',axis=1,inplace = True)
internship.drop('Unnamed: 0',axis=1,inplace = True)
student.drop('Unnamed: 0',axis=1,inplace = True)
student_exp.drop('Unnamed: 0',axis=1,inplace = True)

In [10]:
#data['Preferred_location'] = data['Preferred_location'].apply(lambda x : 'NS' if pd.isnull(x) else x)
#internship['Skills_required'] = internship['Skills_required'].apply(lambda x : 'NS' if pd.isnull(x) else x)
#internship['skill_compress_str'] = internship['skill_compress_str'].apply(lambda x : 'NS' if pd.isnull(x) else x)
#datai = pd.merge(data,internship,how = 'left', on = 'Internship_ID')
#datais = pd.merge(datai,student,how = 'left', on = 'Student_ID')
#datais['Stipend1']= datais['Stipend1'].fillna(0)
#datais_dates = datais[['Student_ID','Earliest_Start_Date']]
#student_exp['Experience_Type'] = student_exp['Experience_Type'].fillna('NE')
#student_exp['Profile'] = student_exp['Profile'].fillna('NS')
student_exp.head()
#student_exp['exp_days'] = 0
#student_exp = student_exp[student_exp['Start.Date'].notnull()]
student_exp['Profile'] = student_exp[['Student_ID','Profile']].groupby(['Student_ID'])['Profile'].transform(lambda x: ','.join(x))
#student_exp['Experience_Type'] = student_exp[['Student_ID','Experience_Type']].groupby(['Student_ID'])['Experience_Type'].transform(lambda x: ','.join(x))
#student_exp_unique = student_exp[['Student_ID','Experience_Type','Profile']].drop_duplicates()
#dataise = pd.merge(datais,student_exp_unique,how='left',on = 'Student_ID')

,Student_ID,Experience_Type,Profile,Start.Date,End.Date,exp_days
0,7654321,job,"Software Engineering,Software Development",18-06-2013,21-06-2014,0
1,7654321,job,"Software Engineering,Software Development",01-07-2013,NaN,0
2,7668677,job,"Operations Process Consulting + Coding,Product...",06-05-2013,13-06-2014,0
3,7668677,job,"Operations Process Consulting + Coding,Product...",08-08-2011,29-03-2013,0
4,7654322,internship,Research Intern,02-06-2010,11-07-2010,0

In [11]:
dataise['avg_stipend'] = 0
dataise['avg_stipend'] = np.where(dataise['Stipend2'].isnull(),dataise['Stipend1'],(dataise['Stipend1']+dataise['Stipend2'])/2)
dataise.drop('Stipend2',axis=1,inplace=True)
dataise['percentage_pg'] = np.where(dataise['PG_scale'] == 4,(dataise['Performance_PG']+1)*20,np.where(dataise['PG_scale'] ==10 ,
                                                                                                   dataise['Performance_PG']*10,
                                                                                                   dataise['Performance_PG']))
dataise['percentage_ug'] = np.where(dataise['UG_Scale'] == 4,(dataise['Performance_UG']+1)*20,np.where(dataise['UG_Scale'] ==10 ,
                                                                                                   dataise['Performance_UG']*10,
                                                                                                   dataise['Performance_UG']))
dataise['student_stipend'] = np.where(dataise['Expected_Stipend']=='No Expectations',0 ,np.where(dataise['Expected_Stipend']==
                                                                                     '2-5K',2000,np.where(dataise['Expected_Stipend']==
                                                                                                         '5-10K',5000,10000)))
dataise['Stipend_low_match'] = np.where(dataise['Stipend1'] >= dataise['student_stipend'],'Yes','No')
dataise['Stipend_avg_match'] = np.where(dataise['avg_stipend'] >= dataise['student_stipend'],'Yes','No')
dataise.drop('Performance_PG',axis=1,inplace = True)
dataise.drop('Performance_UG',axis=1,inplace = True)
dataise['location_match'] = np.where(dataise['Preferred_location']=='NS','Yes',np.where(dataise['Preferred_location']==
                                                                                     dataise['Internship_Location'],'Yes','No'))

In [15]:
dataise['Internship_Profile'] = [nltk.word_tokenize(sent) for sent in dataise['Internship_Profile']]
dataise['Skills_required'] = [nltk.word_tokenize(sent) for sent in dataise['Skills_required']]
dataise['skill_compress_str'] = [nltk.word_tokenize(sent) for sent in dataise['skill_compress_str']]
dataise['Profile'] = [nltk.word_tokenize(sent.decode('utf8', 'ignore')) for sent in dataise['Profile']]

In [ ]:
dataise['degree_base'] = ''
for i in range(len(dataise)):
    dataise['Degree'][i] = str(dataise['Degree'][i])
    dataise['degree_base'][i] = np.where(re.search(r'^(u|b|B|U)',dataise['Degree'][i]),'UG',np.where(
            re.search(r'^(m|p|M|P)',dataise['Degree'][i]),'PG','Others'))
def str_replace(s):
    s= str(s)
    s= re.sub(r'^(b|B|U|u).*$',"UG",s)
    s= re.sub(r'^(p|P|M|m).*$',"PG",s)
    s= np.where(s=="UG","UG",np.where(s=="PG","PG","other"))
    return s    
dataise['degree_base'] = dataise['Degree'].apply(lambda x : str_replace(x))

C:\Users\anoop.karnik\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\anoop.karnik\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
def common_elements(list1, list2):
    if isinstance(list1, basestring):
        if isinstance(list2,basestring):
            if list1==list2:
                a=['Match']
            else:
                a=[]
        else:
            for word in list2:
                if list1==word:
                    a=['Match']
                else:
                    a=[]
    else:
        a =  [element for element in list1 if element in list2]
    return len(a)

dataise['profile_common'] = 0
dataise['skill_common'] = 0
dataise['skill_common2'] = 0

for i in range(len(dataise)):
    dataise['profile_common'][i] = common_elements(dataise['Internship_Profile'][i],dataise['Profile'][i])
    dataise['skill_common'][i] = common_elements(dataise['Skills_required'][i],dataise['Profile'][i])
    dataise['skill_common'][i] = common_elements(dataise['skill_compress_str'][i],dataise['Profile'][i])

dataise['profile_common'] = dataise.apply(lamda x: common_elements(x['Internship_Profile'],x['Profile']),axis =1)
dataise['skill_common'] = dataise.apply(lamda x: common_elements(x['Skills_required'],x['Profile']),axis =1)
dataise['skill_common2'] = dataise.apply(lamda x: common_elements(x['skill_compress_str'],x['Profile']),axis =1)

for i in range(100):
    dataise['profile_common'][i] = common_elements(dataise['Internship_Profile'][i],dataise['Profile'][i])
    dataise['skill_common'][i] = common_elements(dataise['Skills_required'][i],dataise['Profile'][i])
    dataise['skill_common2'][i] = common_elements(dataise['skill_compress_str'][i],dataise['Profile'][i])
dataised = dataise[1:100]    
dataised[['profile_common','profile_common','Profile','Internship_Profile']]

C:\Users\anoop.karnik\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\anoop.karnik\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\anoop.karnik\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\anoop.karnik\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:15: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal

In [ ]:
data_new = [x for x in dataise.columns if x not in ['skill_compress_str','Degree','Stream','Internship_Location','Preferred_location',
                                                            'Profile','Internship_category','Internship_Profile','Experience_Type'
                                                  ,'Earliest_Start_Date','Start_Date','Internship_deadline','Skills_required' ]]
data_newest = dataise[data_new]
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
var_to_encod = ['Expected_Stipend','Is_Part_Time','Internship_Type',
                'Stipend_Type','Institute_Category','Year_of_graduation',
                 'PG_scale','UG_Scale','location_match','Stipend_low_match','Stipend_avg_match','Current_year','degree_base']
for col in var_to_encod:
    data_newest[col] = le.fit_transform(data_newest[col])
data_newest = pd.get_dummies(data_newest, columns=var_to_encod)

In [ ]:
train = data_newest.loc[data_newest['source'] == 'train']
test = data_newest.loc[data_newest['source']=='test']
train.drop('source',axis=1,inplace=True)
test.drop('Is_Shortlisted',axis=1,inplace=True)
train.to_csv("train4.csv")
test.to_csv("test4.csv")
#predictors = [x for x in train.columns if x not in ['Internship_ID','Student_ID','Is_Shortlisted']]
#gbm = GradientBoostingClassifier(random_state=143)
#modelfit(gbm,train,test,predictors)

In [ ]:
param_test1 = {'n_estimators': range(20,81,10)}
gsearch1 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate = 0.1, min_samples_split =500,min_samples_leaf = 50,
                                                              max_depth = 8,max_features ='sqrt',subsample=0.8,random_state =10),
                      param_grid = param_test1,scoring='roc_auc',n_jobs=4,iid=False,cv=5)
gsearch1.fit(train[predictors],train['Is_Shortlisted'])
gsearch1.grid_scores_, gsearch2.best_params_, gsearch2.best_score_

In [ ]:
param_test2 = {'max_depth':range(5,16,2), 'min_samples_split':range(200,1001,200)}
gsearch2 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=60, max_features='sqrt', subsample=0.8, random_state=10), 
param_grid = param_test2, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch2.fit(train[predictors],train['Is_Shortlisted'])
gsearch2.grid_scores_, gsearch2.best_params_, gsearch2.best_score_

In [ ]:
param_test3 = {'min_samples_split':range(1000,2100,200), 'min_samples_leaf':range(30,71,10)}
gsearch3 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=60,max_depth=9,max_features='sqrt', subsample=0.8, random_state=10), 
param_grid = param_test3, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch3.fit(train[predictors],train['Is_Shortlisted'])
gsearch3.grid_scores_, gsearch3.best_params_, gsearch3.best_score_

In [ ]:
modelfit(gsearch3.best_estimator_, train, predictors)

In [ ]:
param_test4 = {'max_features':range(7,20,2)}
gsearch4 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=60,max_depth=9, min_samples_split=1200, min_samples_leaf=60, subsample=0.8, random_state=10),
param_grid = param_test4, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch4.fit(train[predictors],train['Is_Shortlisted'])
gsearch4.grid_scores_, gsearch4.best_params_, gsearch4.best_score_

In [ ]:
param_test5 = {'subsample':[0.6,0.7,0.75,0.8,0.85,0.9]}
gsearch5 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=60,max_depth=9,min_samples_split=1200, min_samples_leaf=60, subsample=0.8, random_state=10,max_features=7),
param_grid = param_test5, scoring='roc_auc',n_jobs=4,iid=False, cv=5)
gsearch5.fit(train[predictors],train['Is_Shortlisted']
gsearch5.grid_scores_, gsearch5.best_params_, gsearch5.best_score_

In [ ]:
gbm_tuned_1 = GradientBoostingClassifier(learning_rate=0.05, n_estimators=120,max_depth=9, min_samples_split=1200,min_samples_leaf=60, subsample=0.85, random_state=10, max_features=7)
modelfit(gbm_tuned_1, train, predictors)

In [ ]:
gbm_tuned_2 = GradientBoostingClassifier(learning_rate=0.01, n_estimators=600,max_depth=9, min_samples_split=1200,min_samples_leaf=60, subsample=0.85, random_state=10, max_features=7)
modelfit(gbm_tuned_2, train, predictors)

In [ ]:
gbm_tuned_3 = GradientBoostingClassifier(learning_rate=0.005, n_estimators=1200,max_depth=9, min_samples_split=1200, min_samples_leaf=60, subsample=0.85, random_state=10, max_features=7,
warm_start=True)
modelfit(gbm_tuned_3, train, predictors, performCV=False)

In [12]:
test['Is_Shortlisted'] = gbm.predict(test[predictors])
result = test[['Internship_ID','Student_ID','Is_Shortlisted']]
result.to_csv("result4.csv")

C:\Users\anoop.karnik\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [27]:
dataise['profile_common'] = dataise.apply(common_elements,args = (dataise[['Internship_Profile']],dataise[['Profile']]),axis=1)

'UG'

In [13]:
from functools import partial
def str_common_word(str1, str2):
    cnt =0
    str1 
    for word in str1:
        if str2.find(word)>=0:
            cnt+=1
    return cnt

In [16]:

def common_elements(list1, list2):
    a =  [element for element in list1 if element in list 2]
    return len(a)
a= ['hello','killl','my','darling']
b= ['his','her','killl','hello','actor']
mydata = [{'subid' : 'B14-111', 'age': 75, 'fdg':1.78},
          {'subid' : 'B14-112', 'age': 22, 'fdg':1.56},]
c = a.apply(partial(common_elements,b))
#dataise['skill_common'] = dataise['Skills_required'].apply(partial(common_elements,dataise['Profile']))
#dataise['skill_common2'] = dataise['skill_compress_str'].apply(partial(common_elements,dataise['Profile']))

SyntaxError: invalid syntax (<ipython-input-16-5b94fb47a201>, line 3)

In [14]:
import functools
import operator

mydata = [{'a' : ['hello'], 'b': ['hello']},
          {'a' : 'kill', 'b': 'kka;jdk'},{'a' : 'hel', 'b': 'kll'},]
df = pd.DataFrame(mydata)

In [15]:
df['c'] = df['a'].apply(partial(str_common_word,df['b']))

AttributeError: 'list' object has no attribute 'find'

In [10]:
df

         a        b
0  [hello]  [hello]
1     kill  kka;jdk
2      hel      kll

In [57]:
df

                   a                       b
0  [hello, how, why]  [kill, hi, hello, how]
1               kill                 kka;jdk
2                hel                     kll

In [6]:
def common_elements(list1, list2):
    if isinstance(list1, basestring):
        if isinstance(list2,basestring):
            if list1==list2:
                a=['Match']
            else:
                a=[]
        else:
            for word in list2:
                if list1==word:
                    a=['Match']
                else:
                    a=[]
    else:
        a =  [element for element in list1 if element in list2]
    return len(a)

mydata = [{'a' : ['hello','kill','hel'], 'b': ['hel','hello','kill']},
          {'a' : ['kill','ad'],'b': ['kka;jdk','adf']},{'a' : 'hell', 'b': ['kll','yeah']},]
df = pd.DataFrame(mydata)
import functools
import operator
from functools import partial

In [9]:
#df['c'] = df['a'].apply(partial(common_elements,df['b']))

df['c'] = df['a'].apply(partial(common_elements,df['b']))

TypeError: 'in <string>' requires string as left operand, not list

In [52]:
for a in data_new:
    print dataise[a].value_counts()

6188     1183
5487      902
5908      796
9284      768
10055     718
4579      711
6158      677
8858      677
9197      620
6121      611
8444      598
10428     595
9850      569
6876      562
10070     553
7845      547
9935      543
7051      531
10342     526
5603      524
4823      524
6992      500
4944      487
5662      481
8740      472
7393      470
10761     463
9292      462
5087      455
5003      448
         ...
6178        1
10622       1
9743        1
7758        1
10795       1
4731        1
8975        1
5036        1
8619        1
6572        1
6607        1
6422        1
7945        1
8267        1
6190        1
9768        1
6979        1
5614        1
5010        1
8681        1
9330        1
4724        1
9329        1
5750        1
9556        1
10279       1
7887        1
9365        1
10764       1
7148        1
Name: Internship_ID, dtype: int64
7706394     428
7693536     259
7708160     240
7693439     237
7654664     225
7671428     216
7672358     213
7690898     202
7658004     196
7700014     191
7678205     175
7659410     167
78655770    160
7693274     159
7710161     158
78654934    154
7656177     154
7706868     153
78655348    152
7706886     152
7694552     152
7654708     143
7698245     141
7668707     139
78654605    136
7688417     135
7681120     134
7670845     133
7665425     131
7660462     130
           ...
78661358      1
7661800       1
7688415       1
7690462       1
7692505       1
7683905       1
7667925       1
7669972       1
7680211       1
7682258       1
7705031       1
7682514       1
7701189       1
7680467       1
7709377       1
7711424       1
78664319      1
78666366      1
78660221      1
78668409      1
78658162      1
7666154       1
7688671       1
7696859       1
7698906       1
7692761       1
7672279       1
7655039       1
7668181       1
7661597       1
Name: Student_ID, dtype: int64
5-10K              93014
No Expectations    82653
2-5K               65206
10K+               59137
Name: Expected_Stipend, dtype: int64
6     64839
2     59765
3     56631
1     55902
4     25074
5     17740
12    15033
7      1684
8      1392
10     1224
9       448
11      278
Name: Minimum_Duration, dtype: int64
0    189114
1    110896
Name: Is_Part_Time, dtype: int64
0    168003
1     24579
Name: Is_Shortlisted, dtype: int64
train    192582
test     107428
Name: source, dtype: int64
regular    249577
virtual     50433
Name: Internship_Type, dtype: int64
2      83249
1      62524
3      37429
5      34067
10     24501
4      24055
20      7363
6       6452
15      4020
50      3132
8       2659
30      2347
25      2225
12      1510
40      1389
7       1357
16       357
63       261
9        242
21       163
19       131
11       128
29       123
24       115
100       85
60        63
13        23
17        17
28         9
14         7
22         7
Name: No_of_openings, dtype: int64
variable       147719
fixed          129557
performance     19863
unpaid           2871
Name: Stipend_Type, dtype: int64
5000     76278
10000    40045
2000     22056
3000     20624
8000     19047
15000    18172
1000     14743
4000     13838
6000     10234
7000      9374
20000     8154
12000     7427
500       5538
25000     3560
2500      3364
0         2859
100       2631
7500      2439
1500      2248
3500      1935
50        1295
200       1217
9000      1165
150        988
300        959
30000      937
6500       878
18000      789
12500      574
13000      515
         ...
9500        98
24000       96
9300        95
40          90
22000       82
30          76
19000       67
6600        66
11000       51
50000       50
1250        49
1           45
17500       30
28500       27
25          25
15          25
1300        17
5           16
1200        15
3400        12
21000        9
5100         5
6250         4
1050         4
35000        3
750          3
450          2
1800         2
1750         1
4400         1
Name: Stipend1, dtype: int64
3           75485
1           68089
2           63218
6           62886
4           14890
12           6719
5            6575
8             762
9             444
10            219
11            170
24            163
7              64
36             59
0              58
18             51
15             46
30             43
20160201       32
10000          18
20160331       13
2016            6
Name: Internship_Duration.Months., dtype: int64
0    299140
1       870
Name: PR, dtype: int64
0    296626
1      3384
Name: UI, dtype: int64
0    262195
1     37815
Name: Marketing, dtype: int64
0    263136
1     36874
Name: Media, dtype: int64
0    262634
1     37376
Name: Social, dtype: int64
0    239495
1     60515
Name: Design, dtype: int64
0    234834
1     65176
Name: Web, dtype: int64
0    234388
1     65622
Name: Development, dtype: int64
0    274235
1     25775
Name: Business, dtype: int64
0    268450
1     31560
Name: Research, dtype: int64
0    278103
1     21907
Name: Writing, dtype: int64
0    285323
1     14687
Name: Plan, dtype: int64
0    288557
1     11453
Name: Creative, dtype: int64
0    280048
1     19962
Name: Process, dtype: int64
0    279967
1     20043
Name: Database, dtype: int64
0    292156
1      7854
Name: Strategy, dtype: int64
0    284391
1     15619
Name: Designing, dtype: int64
0    285005
1     15005
Name: Analysis, dtype: int64
0    290870
1      9140
Name: Facebook, dtype: int64
0    291868
1      8142
Name: Communication, dtype: int64
0    286712
1     13298
Name: Rest, dtype: int64
0    275626
1     24384
Name: Android, dtype: int64
0    291663
1      8347
Name: Presentation, dtype: int64
0    292421
1      7589
Name: Media.Marketing, dtype: int64
0    293091
1      6919
Name: Twitter, dtype: int64
0    292799
1      7211
Name: Social.Media.Marketing, dtype: int64
0    290811
1      9199
Name: Operations, dtype: int64
0    272692
1     27318
Name: Java, dtype: int64
0    289286
1     10724
Name: Quality, dtype: int64
0    280489
1     19521
Name: HTML, dtype: int64
0    292137
1      7873
Name: Blogs, dtype: int64
0    294460
1      5550
Name: Digital.Marketing, dtype: int64
0    281151
1     18859
Name: PHP, dtype: int64
0    295300
1      4710
Name: Market.Research, dtype: int64
0    291760
1      8250
Name: Recruitment, dtype: int64
0    283515
1     16495
Name: Testing, dtype: int64
0    282994
1     17016
Name: CSS, dtype: int64
0    294855
1      5155
Name: Planning, dtype: int64
0    287555
1     12455
Name: API, dtype: int64
0    293875
1      6135
Name: Editing, dtype: int64
0    293510
1      6500
Name: Content.Writing, dtype: int64
0    293923
1      6087
Name: Innovative, dtype: int64
0    297693
1      2317
Name: Lead.Generation, dtype: int64
0    291793
1      8217
Name: Mobile.App, dtype: int64
0    287069
1     12941
Name: SQL, dtype: int64
0    296524
1      3486
Name: Accounts, dtype: int64
0    294899
1      5111
Name: Reporting, dtype: int64
0    286474
1     13536
Name: JavaScript, dtype: int64
0    294436
1      5574
Name: Documentation, dtype: int64
0    293233
1      6777
Name: iOS, dtype: int64
0    296297
1      3713
Name: Branding, dtype: int64
0    296353
1      3657
Name: ACTING, dtype: int64
0    294433
1      5577
Name: Analytics, dtype: int64
0    294946
1      5064
Name: Initiative, dtype: int64
0    298069
1      1941
Name: Advertising, dtype: int64
0    298511
1      1499
Name: Cold.Calling, dtype: int64
0    295528
1      4482
Name: Sourcing, dtype: int64
0    294702
1      5308
Name: ERP, dtype: int64
0    294424
1      5586
Name: NGO, dtype: int64
0    294442
1      5568
Name: Environment, dtype: int64
0    296854
1      3156
Name: Networking, dtype: int64
0    294914
1      5096
Name: Production, dtype: int64
0    292504
1      7506
Name: MySQL, dtype: int64
0    295966
1      4044
Name: ISO, dtype: int64
0    298324
1      1686
Name: Marketing.Strategy, dtype: int64
0    297211
1      2799
Name: Survey, dtype: int64
0    295708
1      4302
Name: Visio, dtype: int64
0    291945
1      8065
Name: App.Development, dtype: int64
0    292250
1      7760
Name: Front.End, dtype: int64
0    292843
1      7167
Name: web.development, dtype: int64
0    293878
1      6132
Name: Integration, dtype: int64
0    293368
1      6642
Name: HTML5, dtype: int64
0    294077
1      5933
Name: jQuery, dtype: int64
0    291128
1      8882
Name: Server, dtype: int64
0    292191
1      7819
Name: Coding, dtype: int64
0    297846
1      2164
Name: MBA, dtype: int64
0    297721
1      2289
Name: Content.Creation, dtype: int64
0    296415
1      3595
Name: Reading, dtype: int64
0    298441
1      1569
Name: B2B, dtype: int64
0    295997
1      4013
Name: Content.Development, dtype: int64
0    298092
1      1918
Name: Storm, dtype: int64
0    297145
1      2865
Name: E.commerce, dtype: int64
0    296105
1      3905
Name: Databases, dtype: int64
0    292222
1      7788
Name: Programming, dtype: int64
0    295884
1      4126
Name: Wordpress, dtype: int64
0    298330
1      1680
Name: Outreach, dtype: int64
0    297239
1      2771
Name: NABL, dtype: int64
0    296124
1      3886
Name: Web.Design, dtype: int64
0    295884
1      4126
Name: Architecture, dtype: int64
0    295931
1      4079
Name: Web.Application, dtype: int64
0    298431
1      1579
Name: Adobe, dtype: int64
0    295609
1      4401
Name: Scala, dtype: int64
0    296781
1      3229
Name: UI.UX, dtype: int64
0    294502
1      5508
Name: Python, dtype: int64
0    294296
1      5714
Name: Mac, dtype: int64
0    298581
1      1429
Name: Retail, dtype: int64
0    298715
1      1295
Name: Digital.Media, dtype: int64
0    296197
1      3813
Name: Product.Development, dtype: int64
0    297381
1      2629
Name: Data.Collection, dtype: int64
0    295500
1      4510
Name: Algorithm, dtype: int64
0    297102
1      2908
Name: LESS, dtype: int64
0    298831
1      1179
Name: Email.Marketing, dtype: int64
0    298045
1      1965
Name: Screening, dtype: int64
0    295931
1      4079
Name: Bootstrap, dtype: int64
0    296968
1      3042
Name: Finance, dtype: int64
0    298756
1      1254
Name: Content.Marketing, dtype: int64
0    298393
1      1617
Name: Communication.Skil, dtype: int64
0    297743
1      2267
Name: Hiring, dtype: int64
0    299006
1      1004
Name: Negotiation, dtype: int64
0    298821
1      1189
Name: Administration, dtype: int64
0    298453
1      1557
Name: Communication.Skills, dtype: int64
0    296350
1      3660
Name: CSS3, dtype: int64
0    299070
1       940
Name: Infographic, dtype: int64
0    299093
1       917
Name: Youtube, dtype: int64
0    298891
1      1119
Name: CRM, dtype: int64
0    296783
1      3227
Name: CAD, dtype: int64
0    299176
1       834
Name: Infographics, dtype: int64
0    298431
1      1579
Name: Access, dtype: int64
0    298894
1      1116
Name: Editorial, dtype: int64
0    297613
1      2397
Name: ARM, dtype: int64
0    297379
1      2631
Name: AJAX, dtype: int64
0    294606
1      5404
Name: .NET, dtype: int64
0    298923
1      1087
Name: Co.ordination, dtype: int64
0    298528
1      1482
Name: Ownership, dtype: int64
0    296363
1      3647
Name: Algorithms, dtype: int64
0    296543
1      3467
Name: Node, dtype: int64
0    299004
1      1006
Name: Drafting, dtype: int64
0    298411
1      1599
Name: Blogging, dtype: int64
0    298969
1      1041
Name: Animation, dtype: int64
0    298444
1      1566
Name: Teaching, dtype: int64
0    298503
1      1507
Name: Blogger, dtype: int64
0    299408
1       602
Name: Relationship.Management, dtype: int64
0    297991
1      2019
Name: X3d, dtype: int64
0    296640
1      3370
Name: HTTP, dtype: int64
0    298537
1      1473
Name: Press.Release, dtype: int64
0    298416
1      1594
Name: Accounting, dtype: int64
0    296343
1      3667
Name: Android.App.Development, dtype: int64
0    299159
1       851
Name: Adobe.Photoshop, dtype: int64
0    298419
1      1591
Name: Photography, dtype: int64
0    296497
1      3513
Name: Software.Development, dtype: int64
0    299047
1       963
Name: Social.Networking, dtype: int64
0    297532
1      2478
Name: AngularJS, dtype: int64
0    297521
1      2489
Name: AWS, dtype: int64
0    298758
1      1252
Name: Secondary.Research, dtype: int64
0    298986
1      1024
Name: Recruiting, dtype: int64
0    299300
1       710
Name: Client.Servicing, dtype: int64
0    299237
1       773
Name: Leadership, dtype: int64
0    298655
1      1355
Name: Content.Writer, dtype: int64
0    298017
1      1993
Name: Web.Services, dtype: int64
0    299196
1       814
Name: Payroll, dtype: int64
0    299506
1       504
Name: Prospecting, dtype: int64
0    299429
1       581
Name: Graphic.Designing, dtype: int64
0    298459
1      1551
Name: Proofreading, dtype: int64
0    298323
1      1687
Name: Data.Entry, dtype: int64
0    298189
1      1821
Name: Flex, dtype: int64
0    299054
1       956
Name: Creativity, dtype: int64
0    298370
1      1640
Name: Data.Management, dtype: int64
0    299557
1       453
Name: Convincing, dtype: int64
0    298958
1      1052
Name: GATE, dtype: int64
0    299343
1       667
Name: Social.Media.Management, dtype: int64
0    297010
1      3000
Name: Machine.Learning, dtype: int64
0    299059
1       951
Name: Client.Relations, dtype: int64
0    298383
1      1627
Name: Web.Applications, dtype: int64
0    298164
1      1846
Name: XML, dtype: int64
0    297845
1      2165
Name: MVC, dtype: int64
0    297066
1      2944
Name: HTML.CSS, dtype: int64
0    299452
1       558
Name: Google., dtype: int64
0    296535
1      3475
Name: Typing, dtype: int64
0    299197
1       813
Name: Sketch, dtype: int64
0    298517
1      1493
Name: UI.Design, dtype: int64
0    299027
1       983
Name: Visual.Design, dtype: int64
0    298948
1      1062
Name: Creative.Writing, dtype: int64
0    299505
1       505
Name: Graphic.Designer, dtype: int64
0    298989
1      1021
Name: Product.Design, dtype: int64
0    298844
1      1166
Name: PERL, dtype: int64
0    298585
1      1425
Name: Hindi, dtype: int64
0    299586
1       424
Name: Chef, dtype: int64
0    299606
1       404
Name: Sales.Process, dtype: int64
0    297506
1      2504
Name: ASP.NET, dtype: int64
0    298337
1      1673
Name: Django, dtype: int64
0    299681
1       329
Name: Public.Relations, dtype: int64
0    298643
1      1367
Name: CMS, dtype: int64
0    299509
1       501
Name: Vendor.Management, dtype: int64
0    299619
1       391
Name: Content.Strategy, dtype: int64
0    299089
1       921
Name: Client.Relationship, dtype: int64
0    299442
1       568
Name: Creative.Design, dtype: int64
0    297616
1      2394
Name: C., dtype: int64
0    298775
1      1235
Name: JSON, dtype: int64
0    297671
1      2339
Name: Linux, dtype: int64
0    299261
1       749
Name: Client.Interaction, dtype: int64
0    297609
1      2401
Name: Manufacturing, dtype: int64
0    299786
1       224
Name: Customer.Relationship.Management, dtype: int64
0    299245
1       765
Name: Recruitment.Process, dtype: int64
0    299618
1       392
Name: Business.Relation, dtype: int64
0    298893
1      1117
Name: Talent.Acquisition, dtype: int64
0    299779
1       231
Name: CorelDRAW, dtype: int64
0    298328
1      1682
Name: Big.Data, dtype: int64
0    299022
1       988
Name: Material.Design, dtype: int64
0    299362
1       648
Name: Market.Analysis, dtype: int64
0    299482
1       528
Name: Adobe.Illustrator, dtype: int64
0    298608
1      1402
Name: REST.API, dtype: int64
0    299177
1       833
Name: Tally, dtype: int64
0    297119
1      2891
Name: Electronics, dtype: int64
0    298778
1      1232
Name: Bee, dtype: int64
0    297889
1      2121
Name: C.., dtype: int64
0    299653
1       357
Name: Online.Research, dtype: int64
0    299578
1       432
Name: Mockups, dtype: int64
0    298907
1      1103
Name: Front.End.Development, dtype: int64
0    299316
1       694
Name: Gif, dtype: int64
0    299208
1       802
Name: Product.Management, dtype: int64
0    298522
1      1488
Name: MongoDB, dtype: int64
0    299496
1       514
Name: Primary.Research, dtype: int64
0    299442
1       568
Name: Healthcare, dtype: int64
0    298658
1      1352
Name: Data.Analytics, dtype: int64
0    299693
1       317
Name: Google.Analytics, dtype: int64
0    298898
1      1112
Name: Core.PHP, dtype: int64
0    299694
1       316
Name: B2B.Sales, dtype: int64
0    299599
1       411
Name: Social.Media.Tools, dtype: int64
0    298998
1      1012
Name: Node.js, dtype: int64
0    298978
1      1032
Name: Ruby, dtype: int64
0    299065
1       945
Name: Drawing, dtype: int64
0    299822
1       188
Name: Brand.Promotion, dtype: int64
0    297444
1      2566
Name: Mechanical, dtype: int64
0    298224
1      1786
Name: Automobile, dtype: int64
0    299393
1       617
Name: Lifestyle, dtype: int64
0    299337
1       673
Name: Writing.Blogs, dtype: int64
0    298991
1      1019
Name: CodeIgniter, dtype: int64
0    299344
1       666
Name: Writing.Skills, dtype: int64
0    298534
1      1476
Name: SQL.Server, dtype: int64
0    299778
1       232
Name: Logo.Design, dtype: int64
0    299358
1       652
Name: Project.Management, dtype: int64
0    299262
1       748
Name: API.Integration, dtype: int64
0    299783
1       227
Name: Client.Communication, dtype: int64
0    299648
1       362
Name: Growth.Hacking, dtype: int64
0    298938
1      1072
Name: Interior.Design, dtype: int64
0    299478
1       532
Name: Personality, dtype: int64
0    299655
1       355
Name: SAP, dtype: int64
0    298769
1      1241
Name: Scripting, dtype: int64
0    298823
1      1187
Name: Android.Application.Development, dtype: int64
0    299574
1       436
Name: Event.Management, dtype: int64
0    299286
1       724
Name: Blog.Writing, dtype: int64
0    299514
1       496
Name: Statistics, dtype: int64
0    299772
1       238
Name: Typography, dtype: int64
0    298676
1      1334
Name: Scalability, dtype: int64
0    298250
1      1760
Name: Assembly, dtype: int64
0    299704
1       306
Name: Conceptualization, dtype: int64
0    299119
1       891
Name: Microsoft, dtype: int64
0    299020
1       990
Name: MVC.Framework, dtype: int64
0    299076
1       934
Name: PSD, dtype: int64
0    298933
1      1077
Name: Web.Technologies, dtype: int64
0    299039
1       971
Name: Web.Application.Development, dtype: int64
0    299331
1       679
Name: Joomla, dtype: int64
0    299401
1       609
Name: Image.Processing, dtype: int64
0    299431
1       579
Name: REST.APIs, dtype: int64
0    298643
1      1367
Name: Data.Structure, dtype: int64
0    299767
1       243
Name: Confidence, dtype: int64
0    298262
1      1748
Name: Electrical, dtype: int64
0    299565
1       445
Name: Counseling, dtype: int64
0    299911
1        99
Name: Inside.Sales, dtype: int64
0    299636
1       374
Name: Organizational.Skills, dtype: int64
0    299892
1       118
Name: Video.Editing, dtype: int64
0    298724
1      1286
Name: Data.Structures, dtype: int64
0    299481
1       529
Name: Mobile.Application.Development, dtype: int64
0    299514
1       496
Name: PhoneGap, dtype: int64
0    299723
1       287
Name: Storytelling, dtype: int64
0    299483
1       527
Name: MySQL., dtype: int64
0    299321
1       689
Name: Ionic, dtype: int64
0    299812
1       198
Name: Design.Skills, dtype: int64
0    299836
1       174
Name: Corporate.Sales, dtype: int64
0    299626
1       384
Name: Entrepreneurship, dtype: int64
0    299579
1       431
Name: Films, dtype: int64
0    299526
1       484
Name: Foundation, dtype: int64
0    299462
1       548
Name: Payment.Gateway, dtype: int64
N    270146
Y     29864
Name: Institute_Category, dtype: int64
3                     88908
already a graduate    64111
2                     54690
4                     51936
1                     36174
5                      4191
Name: Current_year, dtype: int64
2015    111087
2016     72900
2014     47423
2017     25478
2013     16067
2012      9965
2018      5847
2011      4288
2009      3533
2010      2444
2019       893
2020        50
2001        35
Name: Year_of_graduation, dtype: int64

In [46]:
.value_counts()

UG                                           142937
PG                                            47463
12th                                            946
Integrated B.Tech and M.Tech                    589
Integrated B.Tech and MBA                       559
Diploma                                         408
Graduation                                      311
IMCA                                            200
Dual Degree (5 Years)                           195
Integrated MBA                                  193
LLB                                             163
Integrated MCA                                  150
Chartered Accountant (CA)                       112
Integrated Masters                              104
Architecture                                    104
No                                              102
Hsc                                              96
Dual Degree                                      96
Graduate                                         93
Not a graduate                                   80
None                                             79
Integrated M.Tech (5 Years)                      78
Student                                          68
Honors                                           62
Chartered Financial Analyst (CFA)                56
CA, CS                                           54
Integrated Masters Dual Degree                   53
Graphic Dsigninig                                51
First                                            45
Integrated Post Graduate (IPG)                   43
                                              ...
T.E Pursuing                                      1
NOT GRADUATED                                     1
Graduction(purshing)                              1
Junior College                                    1
Other                                             1
Software Engiinering                              1
IB Diploma                                        1
First Year College Student                        1
Class Second Year                                 1
S.E.                                              1
Y                                                 1
CFA Level I                                       1
Doing UG                                          1
Non Graduate                                      1
Legum Baccalaureus                                1
Humantities                                       1
Automobile Engineering                            1
Electronics &  Communication                      1
Diploma In Higher Education                       1
ELECTRICAL                                        1
One Year Course                                   1
Highschool                                        1
Degree In Civil Engineering                       1
Five Year Integrated M.Tech                       1
Edexcel                                           1
Foundation Degree In Communication Design         1
H Tech                                            1
Four                                              1
Inter CA                                          1
Cost Management Accountant (CMA)                  1
Name: degree_base, dtype: int64

In [ ]:
dataise.apply(lambda x: sum(x.isnull()))

Internship_ID                       0
Student_ID                          0
Earliest_Start_Date                 0
Expected_Stipend                    0
Minimum_Duration                    0
Preferred_location                  0
Is_Part_Time                        0
Is_Shortlisted                 107428
source                              0
Internship_Profile                  0
Skills_required                     0
Internship_Type                     0
Internship_Location                 0
Internship_category                 0
No_of_openings                      0
Stipend_Type                        0
Stipend1                            0
Internship_deadline                 0
Start_Date                          0
Internship_Duration.Months.         0
PR                                  0
UI                                  0
Marketing                           0
Media                               0
Social                              0
Design                              0
Web                                 0
Development                         0
Business                            0
Research                            0
                                ...
Storytelling                        0
MySQL.                              0
Ionic                               0
Design.Skills                       0
Corporate.Sales                     0
Entrepreneurship                    0
Films                               0
Foundation                          0
Payment.Gateway                     0
skill_compress_str                  0
Institute_Category                  0
Degree                             17
Stream                            123
Current_year                        0
Year_of_graduation                  0
PG_scale                            0
UG_Scale                            0
Performance_12th                    0
Performance_10th                    0
Freq                                0
Experience_Type                101713
Profile                        101713
avg_stipend                         0
percentage_pg                       0
percentage_ug                       0
student_stipend                     0
Stipend_low_match                   0
Stipend_avg_match                   0
location_match                      0
degree_base                         0
dtype: int64